@import "./_Subnav.scss";
#main{
    background-color: #f3f3f7;
    height: 100vh;
    position: relative;
}

#myNav{
    line-height: 40px;
    box-shadow: 3px 0px 4px 1px rgba($color: #000000, $alpha: 0.4);
    #userIcon{
        font-size: 24px;
        &:hover{
            color: #858585 ;
            cursor: pointer;
        }
    }
}

#toRender{
    margin-top: 48px;   
}

.hoverList{
    &:hover{
        cursor: pointer;
    }
}

// Modal Create Project
.modalNew{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    &::after,&::before{
        clear: both;
        display: table;
        content: "";
    }
    #boxModal{
        border-radius: 4px;
        background-color: #fff;
        padding: 24px 12px;
        width: 450px;
        height: 600px;
        transform: translate(50%, 10%);
        right: 50%;
        position: absolute;

        #titleModal{
            h2{
                text-align: center;
                margin: 12px 0;
            }
        }

        #des{
            padding-left:24px ;
        }

        #detail{
            overflow-y:scroll;
            margin: 16px 24px ;
            border-bottom: 1px solid #ccc;
            height: 65%;
            input{
                padding: 8px ;
                margin: 8px 0;
            }
        }
        
        #modalBtn{
            margin-left: auto;
            width: 70%;
            padding: 0 24px;
            .btns{
                margin: 0 12px;
                padding: 10px 20px;
                border: none;
                background-color: #79beff;
                border-radius: 4px;
                &:hover{
                    opacity: 0.8;
                    cursor: pointer;
                }
            }
            #cancel{
                margin-right: 12px;
            }
        }
    }
}

