#leftNav{
    width: 15%;
    padding-top: 12px;
    background-color: #00437b;
    height: 100vh;
    .nav-item{
        padding-left: 24px;
        .nav-link{
            color: #fff;
        }
    }
}