@import './Var.scss';

#bgImg{
    background: 
        linear-gradient(
            to left,
            rgba($color:#000,$alpha:0.6),
            rgba($color:#fff,$alpha:0.6)
        ), 
        $background_page no-repeat;
    background-size:cover;
    height: 100vh;
}

.formLog{
    position: absolute;
    transform: translate(50%,20%);
    right: 50%;
    background-color: #fff;
    border-radius: 4px;
    width: 450px;
    height: 500px;
    padding: 2%;
    #btn-log{
        margin-top:24px ;
    }
    .form-floating{
        margin: 24px 0;
    }

}

.link-light{
    text-decoration: none;
}