$background_page : url('../assets/1dc2d4ac-image-1024x691.jpeg');
// Background chung của Login và Register
.bgImg{
    background: 
        linear-gradient(
            to left,
            rgba($color:#000,$alpha:0.6),
            rgba($color:#fff,$alpha:0.6)
        ), 
        $background_page no-repeat;
    background-size:cover;
    height: 100vh;
}

//.................................................//

// Component SubNav.tsx (Begin)
#subNav{
    background-color: #f3f3f7 !important;
}
// Component SubNav.tsx (End)


//.................................................//

// Component LeftNav.tsx (Begin)

#leftNav{
    width: 15%;
    padding-top: 12px;
    background-color: #00437b;
    height: 100vh;
    .nav-item{
        padding-left: 24px;
        .nav-link{
            color: #fff;
        }
    }
}

// Component LeftNav.tsx (End)

//...............................................//

// Page Register.tsx(Begin)

#wrapValid{
    h2{
        margin-bottom: 12px;
    }
    &::before,&::after{
        display: table;
        content: "";
        clear: both;
    }
    position: absolute;
    width: 28%;
    background-color: #fff;
    border-radius: 5px;
    transform: translate(50%,50%);
    bottom: 50%;
    right: 50%;
    padding: 32px;

    #icon{
        i{
            margin: 0 6px;
            font-size: 24px;
            &:hover{
                opacity: 0.7;
                cursor: pointer;
            }
        }
    }
}

// Page Register.tsx(End)